.Login-Container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  justify-content: space-evenly;
  width: 100%;
}

.Login-Container input {
  width: 100%;
}

.Login-Container button {
  padding: 0.5rem;
  width: 120px;
}

.Logo-Container {
  display: flex;
  justify-content: center;
}

.Form-Container, .Form-Container form {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
}

.Form-Container {
  width: 30%;
}

.Login-Container form {
  align-items: center;
  gap: 1rem;
  height: 380px;
  width: 100%;
}

.Login-Container form div {
  width: 100%;
  z-index: 99999;
}

.Logo { display: none; }

.Logo-Container img {
  width: 400px;
  z-index: 1000;
}

.btn-login, .btn-login:hover, .btn-login:active {
  background: #f45d01;
  border-color: #f45d01;
}

@media screen and ( max-width : 800px ) {

  .Logo { display: flex; }

  .Logo-Alt {
    display: none;
  }

  .Form-Container {
    align-items: center;
    height: fit-content;
    padding: 0;
    width: 100%;
  }

  .Form-Container h3 {
    display: none;
  }

  .Logo-Container {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .Login-Container form {
    background: rgb(248, 248, 248);
    border-radius: 12px;
    box-shadow: 2px 5px 6px #47464777;
    top: 30vh;
    width: 360px;
  }

  .Logo-Container img {
    width: 180px;
  }

  .Login-Container form div {
    width: 80%;
  }
}

@media screen and ( max-width : 390px ) {

  .Login-Container form { width: 90%; }
}

@media screen and ( max-height : 621px ) {

  .Logo-Container { top: 0; }

  .Logo-Container img { width: 112px; }
}

@media screen and ( min-height : 621px ) {

  .Logo-Container { top: 25px; }
}

@media screen and ( min-height : 700px ) {

  .Logo-Container { top: 60px; }
}

@media screen and ( min-height : 780px ) {

  .Logo-Container { top: 100px; }
}

