.Profile-Container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.Profile-Informations {
  align-items: center;
  flex-flow: column wrap;
}

.User-Informations {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.User-Informations img {
  width: 160px;
}

/* botões */
.all-btn-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}

.all-btn-profile button {
  width: 200px;
}

.btn-login {
  background-color: #ffc107;
  border-color: #ffc107;
  color: black;
  width: 150%;
}
