.recipe-in-progress {
  background: #ebeef5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 4rem;
}

.recipeImg {
  height: 170px;
  object-fit: cover;
  width: 100%;
}

.title {
  font-size: 40px;
  margin: 0;
  padding-left: 10px;
}

.title-share-favorite {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn-share-favorite {
  background-color: transparent;
  border: none;
}

.btn-shareAndfavorite-position {
  gap: 20px;
  padding-right: 10px;
}

.category {
  color: rgb(147, 147, 147);
  font-size: 25px;
  margin: 0;
  padding-left: 10px;
}

.span-copied {
  font-size: 18px;
  margin: 0;
  padding-right: 10px;
}

.span-category {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.ingredient-list, .instructions-text {
  align-self: center;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: 2px 5px 6px #47464777;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: fit-content;
  padding: 25px;
  padding-bottom: 17px;
  width: 100%;
}

.ingredient-progress {
  align-items: center;
  display: flex;
  gap: 0.3rem !important;
}

.ingredient-check {
  background-color: transparent;
  font-weight: 600;
  text-decoration: line-through;
}

.title-ingredients, .title-instructions {
  align-self: flex-start;
  background-color: transparent;
  font-weight: 545;
  margin: 0;
  padding-top: 15px;
}

.margin-zero {
  margin: 0;
}

.instructions-text {
  align-self: center;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: 2px 5px 6px #47464777;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: fit-content;
  margin: 0;
  padding: 10px;
  width: 100%;
}

.text-style {
  background-color: transparent;
  margin: 0;
  padding: 7px;
  text-align: left;
}

.btn {
  align-self: center;
  font-size: 1.3rem;
  width: 90%;
}

.btn-login {
  background-color: #ffc107;
  border-color: #ffc107;
  color: black;
}

.btn-login:active {
  background-color: #f45d01 !important;
}
