.Recipes-Container {
  background-color: #ebeef5;
  min-height: 100vh;
  width: 100%;
}

.Recipes-Container nav {
  margin-top: 10vh;
}

.Recommendations-Container {
  border: 1px solid red;
  display: flex;
  overflow: scroll;
  width: 200px;
}

.Recommended-Recipe {
  align-items: center;
  border: 1px solidred;
  display: flex;
  justify-content: center;
  min-width: 100px;
  padding: 10px;
}

.Start-Recipe-Btn {
  bottom: 0;
  position: fixed;
}

.listed-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10vh;
}

.listed-recipes h2 { font-size: 1.5rem; }

.listed-recipes button {
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #a7a7a7;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 20px;
  overflow: hidden;
  width: 145px;
}

.listed-recipes div {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.listed-recipes img {
  width: 200px;
}

.listed-recipes h2 {
  margin: 0;
  padding: 0.6rem;
}

.Side-Content {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 0.6rem;
  justify-content: center;
}

.Suggestions-Container {
  border-radius: 16px;
  overflow: hidden;
  width: 315px;
}

.carousel-item {
  height: 180px;
}

.carousel img {
  border-radius: 16px;
  height: 180px;
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 315px ! important;
}

.carousel-control-prev span:nth-child( 2 ), .carousel-control-next span:nth-last-child( 1 ) {
  display: none;
}

.carousel-inner { overflow: hidden; }

.carousel-control-next, .carousel-control-prev {
  background: black;
  height: 40px;
  opacity: 0.6;
  text-align: center;
  top: 36%;
  width: 40px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.507);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  bottom: 0;
  color: white;
  height: 46px;
  left: 0;
  padding: 6px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.carousel-caption h3 {
  font-weight: 700;
}

.carousel-indicators button { visibility: hidden; }
