.Recipe-Details-Container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem;
  padding-bottom: 1.2rem;
}

.recipe-Details {
  background: #ebeef5;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.recipeImg {
  height: 170px;
  object-fit: cover;
  width: 100%;
}

.title {
  font-size: 40px;
  margin: 0;
  padding-left: 10px;
}

.title-share-favorite {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn-share-favorite {
  background-color: transparent;
  border: none;
}

.btn-share-favorite svg {
  font-size: 1.8rem;
}

.btn-shareAndfavorite-position {
  align-self: flex-start;
  display: flex;
  gap: 20px;
  padding-right: 10px;
  right: 0;
  top: 30vh;
}

.span-category {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.category {
  color: rgb(147, 147, 147);
  font-size: 25px;
  margin: 0;
  padding-left: 10px;
}

.span-copied {
  font-size: 18px;
  margin: 0;
  padding-right: 10px;
}

.ingredient-list {
  align-self: center;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: fit-content;
  padding: 25px;
  padding-bottom: 17px;
  width: 90%;
}

.title-ingredients {
  align-self: center;
  font-weight: 545;
  margin: 0;
  padding-top: 15px;
}

.margin-zero {
  margin: 0;
}

.title-instructions {
  align-self: center;
  background-color: transparent;
  font-weight: 545;
  margin: 0;
  padding-top: 15px;
}

.instructions-text {
  align-self: center;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: fit-content;
  margin: 0;
  padding: 10px;
  width: 90%;
}

.text-style {
  background-color: transparent;
  margin: 0;
  padding: 7px;
  text-align: left;
}

.video-style {
  align-self: center;
}

.btn {
  align-self: center;
  width: 90%;
}

.btn-login {
  background-color: #ffc107;
  border-color: #ffc107;
  color: black;
}

.Go-Back-Btn {
  background: rgba(0, 0, 0, 0.475);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  color: #ebeef5;
  cursor: pointer;
  font-size: 2.2rem;
  position: absolute;
  top: 12px;
  width: 45px;
}
